<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.simon.springboot.mapper.AppVersionMapper">
    <resultMap id="avn" type="AppVersion">
        <id property="id" column="id"/>
        <result property="versionNo" column="versionNo"/>
        <result property="versionSize" column="versionSize"/>
        <result property="apkFileName" column="apkFileName"/>
        <result property="modifyDate" column="modifyDate"/>
        <association property="appInfo" javaType="AppInfo">
            <result property="softwareName" column="softwareName"/>
        </association>
        <association property="dataDictionary" javaType="DataDictionary">
            <result property="valueName" column="valueName"/>
        </association>
    </resultMap>

    <select id="selVersion" parameterType="String" resultMap="avn">
        SELECT id,(SELECT softwareName FROM `app_info` WHERE id=appId) softwareName,
        versionNo,versionSize,
        (SELECT valueName FROM `data_dictionary` WHERE typeCode='PUBLISH_STATUS' AND valueId=publishStatus) valueName,
        apkFileName,modifyDate
        FROM `app_version`
        WHERE appId=#{appId}
        ORDER BY versionNo DESC
    </select>

    <!--删除app版本信息-->
    <delete id="delVersion" parameterType="String">
        DELETE FROM `app_version` WHERE appId=#{appId}
    </delete>


    <resultMap id="avn2" type="AppVersion">
        <result property="id" column="id"/>
        <result property="appId" column="appId"/>
        <result property="downloadLink" column="downloadLink"/>
        <result property="versionNo" column="versionNo"/>
        <result property="versionInfo" column="versionInfo"/>
        <result property="versionSize" column="versionSize"/>
        <result property="apkFileName" column="apkFileName"/>
        <association property="dataDictionary" javaType="DataDictionary">
            <result property="valueName" column="valueName"/>
        </association>
    </resultMap>

    <!--查找最新版本号-->
    <select id="selVersionNew" resultMap="avn2" parameterType="String">
        SELECT id,versionNo,versionSize,appId,apkFileName,downloadLink,
		(SELECT valueName FROM `data_dictionary`
		WHERE typeCode='PUBLISH_STATUS'
		AND valueId=publishStatus) valueName,versionInfo
		FROM `app_version`
		WHERE id=#{id}
    </select>
    <!--修改app最新版本信息-->
    <update id="updAppVersion" parameterType="AppVersion">
        UPDATE `app_version`
		SET versionInfo=#{versionInfo},modifyBy=#{modifyBy},
		versionSize=#{versionSize},modifyDate=#{modifyDate}
		WHERE id=#{id}
    </update>

    <insert id="insVersion" parameterType="AppVersion" useGeneratedKeys="true" keyProperty="id">
		insert into app_version (appId,versionNo,versionInfo,publishStatus,
								downloadLink,versionSize,apkLocPath,apkFileName,createdBy,creationDate,modifyDate)
				values(#{appId},#{versionNo},#{versionInfo},#{publishStatus},#{downloadLink},
					   #{versionSize},#{apkLocPath},#{apkFileName},#{createdBy},#{creationDate},#{modifyDate})
	</insert>

</mapper>